/*
Fisier pentru stil pentru pagina adaugarePacienti.html
Oancea Constantin-Alexandru
Versiunea: 10.1.2025
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

nav h1 {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul {
    list-style: none;
}

.nav-links ul li {
    display: inline-block;
    margin: 0 10px;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links ul li a:hover {
    color: #f44336;
    text-decoration: underline;
}

.container {
    max-width: 600px;
    margin: 120px auto; /* Centrare pe pagină */
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    text-align: center;
}

.container h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #f44336;
}

form {
    width: 100%;
    margin-top: 20px;
}

form label {
    display: block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

form input[type="text"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.8);
}

form input:focus {
    border-color: #f44336;
    outline: none;
    box-shadow: 0 0 5px rgba(244, 67, 54, 0.5);
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d32f2f;
}

input:invalid {
    border: 1px solid #ff0000;
}

input:valid {
    border: 1px solid #4caf50;
}
